
.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.5);
}
.site-layout .site-layout-background {
  background:  rgba(255, 255, 255, 0.5);
}
.font-link {
  font-family: 'Hanalei Fill', cursive;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: rgba(255, 255, 255, 0.5);
}
.font-link {
  font-family: 'Raleway', sans-serif}

.font-link-cursive {
  font-family: 'Raleway', cursive}